html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: white;
}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper
{
    display: block;
}
#contents
{
    display: flex;
    align-items: center;
    background-color: #111;
    width: 1920px;
    height: 1080px;
    justify-content:space-around;
}

.svg
{
    background-color: #333;
    width: 480px;
    height: 480px;
}

input[type=range] {
    width:300px;
}
.title-head{
    display: inline-block;
    width: 120px;
}